# Server Configuration
NODE_ENV=development
PORT=3003
SERVICE_NAME=academic-service

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/academic_db?schema=public"

# CORS
CORS_ORIGIN=http://localhost:5173

# Service URLs
AUTH_SERVICE_URL=http://localhost:3001
STUDENT_SERVICE_URL=http://localhost:3002
