# Server Configuration
NODE_ENV=development
PORT=3004
SERVICE_NAME=assessment-service

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/assessment_db?schema=public"

# CORS
CORS_ORIGIN=http://localhost:5173

# Service URLs
AUTH_SERVICE_URL=http://localhost:3001
STUDENT_SERVICE_URL=http://localhost:3002
ACADEMIC_SERVICE_URL=http://localhost:3003

# File Storage
UPLOAD_PATH=./uploads
MAX_FILE_SIZE=10485760
