# Server Configuration
NODE_ENV=development
PORT=3002
SERVICE_NAME=student-service

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/student_db?schema=public"

# CORS
CORS_ORIGIN=http://localhost:5173

# Service URLs (for inter-service communication)
AUTH_SERVICE_URL=http://localhost:3001
ACADEMIC_SERVICE_URL=http://localhost:3003
